@import "variables";

.activities{
    width: 100%;
    height: 70vh;
    .container{
        margin-top: 50px;
        position: relative;
        .container__items{
            width: 20%;
            height: auto;
            margin: auto;
            background: #fff;
            border-radius: 20px;
            float: left;
            margin: 0 2.5%;
            // margin-bottom: 50px;

            .activities__details{
                padding: 30px;
                .img{
                    width: 100%;
                    height: auto;
                    position: relative;
                    img{
                        border-radius: 20px;
                        width: 100%;
    
                    }

                    i{
                        position: absolute;
                        right: 25px;
                        top: 25px;
                        width: 30px;
                        height: 30px;
                        background: rgba(240, 240, 240, 0.7);
                        border-radius: 10px;
                        opacity: 1;
                        color: $iconcolor;
                        line-height: 30px;
                        text-align: center;
                    }
                    // &:hover > i{
                    //     opacity: 1;
                    // }
                }

                h1{
                    margin: 20px 0;
                    font-size: 22px;
                    text-align: center;
                    text-transform: capitalize;
                }
                p{
                    text-align: center;
                    color: $text_color;
                    margin-bottom: 30px;
                }

                .button{
                    width: 60%;
                    margin: auto;
                    text-align: center;
                    text-transform: capitalize;
                    height: 40px;
                    line-height: 40px;
                    color: $text_color;
                    border-radius: 30px;
                    background: #c9c8c7;
                    font-size: 15px;
                    cursor: pointer;
                }
            }
        }

        .buttonview{
            position: absolute;
            bottom: 50px;
            left: 50%;
            width: auto;
            // height: 40px;
            border: 1px solid $iconcolor;
            text-align: center;
            // line-height: 40px;
            cursor: pointer;
            color: $iconcolor;
            padding: 15px 60px;
            border-radius: 25px;
            text-transform: capitalize;
            transform: translate(-50%, -50%);

        }

    }
}